# MkDocs
mkdocs

# Material for MkDocs
mkdocs-material

# GLightbox images plugin
mkdocs-glightbox

# Footer stuff
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin

# Open in a new tab plugin
mkdocs-open-in-new-tab

# Mkdocs video embed plugin
mkdocs-video

# Pngquant PNG optimizer
pngquant

# Pillow JPG optimizer
Pillow